.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 15px 10px;
    border: 1px solid black;
    width: 10%;
    font-size: large;
    background-color: crimson;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 1;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px black; */
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-delay: 0.5s; */
    /* transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s; */
}
button::before{
    content: "";
    background-color: #101010;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 1s;
    z-index: -1;
}
button:hover::before{
    transform: scaleX(1);
    /* box-shadow: 2px 2px 5px black;
    background-color: black;
    filter: drop-shadow(2px 2px 5px black);
    transform: translate(300px); */
}
/* button:hover{
    cursor: pointer;
} */



